@import "tailwindcss";

@theme {
    /* Criando as cores personalizadas do projeto Estgar */

    /* Fundo Principal */
    --color-estgar-background: #FCFAF8;

    --color-estgar-amarelo: #F4C95D;
    --color-estgar-azul: #5B8DEF;

    --color-estgar-bege: #f1e3d3;
    --color-estgar-bege-escuro: #f2d0a9;

    --color-estgar-branco: #FFFFFF;

    --color-estgar-cinza-50: #F8F9FA;
    --color-estgar-cinza-100: #F1F3F5;
    --color-estgar-cinza-200: #E9ECEF;
    --color-estgar-cinza-300: #DEE2E6;
    --color-estgar-cinza-500: #6C757D;
    --color-estgar-cinza-700: #495057;
    --color-estgar-cinza-900: #212529;

    --color-estgar-laranja: #F39C6B;

    --color-estgar-roxo: #8e7dbe;
    --color-estgar-roxo-escuro: #6F5DA8;

    --color-estgar-verde: #99c1b9;
    --color-estgar-verde-escuro: #4F9D8A;

    --color-estgar-vermelho: #D65A5A;
    --color-estgar-vermelho-escuro: #B54848;
}

/* ESTILIZAÇÃO DOS INPUT */
@layer components {
    .input-estgar {
        @apply w-full p-3 bg-white border border-gray-400 rounded-xl text-slate-700 transition-all focus:outline-none focus:border-estgar-roxo focus:ring-1 focus:ring-estgar-roxo;
    }
}

/*  ESTILIZAÇÃO DOS LABEL */
@layer components {
    .label-estgar {
        @apply block text-sm font-semibold text-slate-700 mb-2;
    }
}

/* TITULO DAS PAGINAS */
.page-title {
    @apply text-3xl font-bold text-center text-estgar-roxo-escuro mb-12;
}

/* BOTÃO PRINCIPAL - EX: SALVAR */
@layer components {
    .btn-primary {
        @apply cursor-pointer w-full md:w-auto px-10 py-3 bg-estgar-verde-escuro text-white font-bold rounded-xl shadow-md hover:shadow-lg transition-all;
    }
}

/* BOTÃO SECUNDARIO - EX: CANCELAR */
.btn-secondary {
    @apply cursor-pointer w-full md:w-auto px-6 py-3 font-semibold text-slate-600 border border-estgar-roxo rounded-xl hover:border-gray-400 hover:shadow-lg transition-all;
}